html, body, #app {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 5em;
}

.header {
  font-size: small;
  color: black;
}

.navHeader {
  color: white;
  display: flex;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-color: #E74E96;
}

.navPeaks {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid  #E74E96;
  color: #E74E96;
  font-weight: bold;
}

.navPeaks a {
  text-decoration: none;
}

.navMixit {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.navImg {
  height: 80%;
}

.content {
  flex-grow: 1;
  height: 90%;
  margin-top: 5px;
}

.editor {
  width:100%;
  height:100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 18px;
}

.titleEditor {
  font-size: xx-large;
  font-weight: bold;
  color: #E74E96;
  height: 20px;
  margin: 10px;
  padding-bottom: 10px;
  }

.lightDarkMode {
  background-color: #444444 !important;
  color: white !important;
}

.darkMode {
  background-color: #282a35;
  color: white !important;
}

.titleEditor li{
  padding-left: 10px;
  width : 60px;
  margin: 0;
}

.titleEditor ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.result {
  display: flex;
  background-color: white;
}

.resultPane {
  display: block;
  border: none;
  height: 400px;
  width: 400px;
  background-color: white;
}

.resultImg {
  height: 400px;
  width: 400px;
}

img-comparison-slider {
  outline-width: 0px;
  --divider-width: 2px;
  --divider-color: #000000;
  --default-handle-opacity: 0.3;
  --default-handle-color: #000000;
  --default-handle-width: 80px;
  --default-handle-shadow: rgba(0, 0, 0, 1);
}

.button {
  font-size: 18px;
  border: 2px solid #E74E96;
  border-radius: 10px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  background-color: white;
}